@import "tailwindcss";

@theme {
  --color-background: #020617; /* Slate 950 */
  --color-foreground: #f8fafc; /* Slate 50 */
  --color-primary: #3b82f6;    /* Blue 500 */
  --color-success: #22c55e;    /* Green 500 */
  --color-expense: #ef4444;    /* Red 500 */
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}